<h1> List all clubs </h1>
<table>
    <tr>
        <th>Name</th>
        <th>Addr</th>
        <th>Website</th>
        <th></th>
        <th></th>
    </tr>
    <% @clubs.each do |club| %>
        <tr>
            <td><%=club.name%></td>
            <td><%=club.addr%></td>
            <td><%=club.website%></td>
            <td><%=link_to 'Show', club_path(club)%></td>
            <td><%=link_to 'Edit', edit_club_path(club)%></td>
        </tr>
    <%end%>
</table>
<%= link_to 'create new club', new_club_path %>