<%= form_for @course do |f| %>
<%if @course.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@course.errors.count, "error")%> prohobited this course from being saved:
        </h2>
        <%@course.errors.full_messages.each do |msg|%>
            <li><%=msg%></li>
        <%end%>
    </div>
<%end%>
    <p>
        <%= f.label :club_id %>
        <%= collection_select(:course, :club_id, Club.all, :id, :name) %>
    </p>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :addr %>
        <%= f.text_field :addr %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<%end%>