<h1> List all courses </h1>
<table>
    <tr>
        <th>Name</th>
        <th>Addr</th>
        <th></th>
    </tr>
    <% @courses.each do |course| %>
        <tr>
            <td><%=course.name%></td>
            <td><%=course.addr%></td>
            <td>
                <%=link_to 'Show', course_path(course)%> |
                <%=link_to 'Edit', edit_course_path(course)%> |
                <%=link_to 'Destroy', course_path(course), method: :delete, data: {confirm: 'Are you sure?' } %>
            </td>
        </tr>
    <%end%>
</table>
<%= link_to 'create new course', new_course_path %>